.curve-in-out {
  width: 12px;
  height: 12px;
  border-radius: 8px;
  cursor: pointer;
  padding: 3px;
}

.curve-in-out:after {
  content: "";
  background: white;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  display: block;
}