* {
  outline: none !important;
}

.section {
  border: 1px solid #e7e7e7;
  padding: 20px;
}

.section-label {
  color: #716c6c;
  float: left;
  margin-top: -23px;
  background: white;
  margin-left: 5px;
  padding: 0 10px;
  font-size: 12px;
  transform: translateY(-5px);
}

.add {
  background: #e7e7e7;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 10px;
  width: 100%;
}

.space {
  padding: 0 5px;
}

.text-right {
  text-align: right;
}

.component-settings {
  height: 50px;
  background: #e7e7e7;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}